.block2_left{
    float: left;
    width: 12em;
    padding-bottom: 5px;
}

.block2_left_2{
    float: left;
    width: 12em;
    padding-bottom: 5px;
}

.block2_right {
    float: none;
    margin-left: 12em;
    padding-bottom: 5px;
}

.radio {
    display: inline-flex;
}

textarea { 
    width: 100%; 
}

.field1 {
    width: 100%; 
}

.block1 {
    padding-bottom: 20px;
}

/* узкая */
@media all and (max-width: 600px) {
    .block2_left {
        float: none;
        width: 100%;
    }

    .block2_left_2{
        float: left;
    }

    .block2_right {
        margin-left: 0;
    }

    .block2field {
        display: block;   
    }   

    .radio {
        display: inline-block;
    }
}